@charset "utf-8";
@import url(../common/reset.css);
/*@import url(../index/index.css);*/
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300&family=Roboto:wght@100&display=swap');

@wrap {

}

body {
    font-family: 'Krub', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/*header시작*/
.header {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
}

.header:hover {
    width: 100%;
    height: auto;
    background: #49654C88;
    transition: all 0.45s;
}

.header .inner-header {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.header .inner-header .nav {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.header .inner-header .nav .gnb-parent {
    width: 100%;
    max-width: 1920px;
    padding: 0 30px;
    box-sizing: border-box;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    transition: all 0.45s;
    /*        padding: 0 30px 30px 0;*/
}

.header .inner-header .nav .gnb-parent .left-gnb {
    width: 33%;
    max-width: 300px;
    height: auto;
}

.header .inner-header .nav .gnb-parent .left-gnb > ul {
    display: flex;
    justify-content: space-between;
}

.header .inner-header .nav .gnb-parent .left-gnb > ul > li {
    width: 33.3333%;
    height: auto;
    border: 0px solid #f00;
    box-sizing: border-box;
    float: left;
    line-height: 80px;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Krub', sans-serif;
    color: #fff;
    transition: all 0.45s;
    cursor: pointer;

}

.header .inner-header .nav .gnb-parent .left-gnb > ul > li a {
    letter-spacing: 2px;
    font-size: 0.7em;
    color: #fff;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
}

.header .inner-header .nav .gnb-parent .left-gnb > ul > li a:after {
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    bottom: 23px;
    background: #fff;
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
    width: 0px;
}

.header .inner-header .nav .gnb-parent .left-gnb > ul > li a:hover:after {
    width: 100%;
    left: 0%;
}


.header .inner-header .nav .gnb-parent .left-gnb > ul > li .sub {
    display: none;
}

.header .inner-header .nav .gnb-parent .left-gnb > ul > li:hover .sub {
    display: block;
    background: #0000;
    color: #253628;
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
}

.header .inner-header .nav .gnb-parent .left-gnb > ul > li.sub > ul > li {
    width: 100%;

}

.header .inner-header .nav .gnb-parent .left-gnb > ul > li.sub > ul > li a {
    height: 5px;
    /*    height: 7px !important;*/
    color: #fff;
    font-size: 0.6em;
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
}

..header .inner-header .nav .gnb-parent .left-gnb > ul > li.sub > ul > li:hover {
    width: 100%;
    height: auto;
    cursor: pointer;
}


.header .inner-header .nav .gnb-parent .middle-gnb {
    width: 34%;
    height: auto;
}

.header .inner-header .nav .gnb-parent .middle-gnb h1.logo {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    line-height: 80px;
}

.header .inner-header .nav .gnb-parent .middle-gnb h1.logo a {
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
}

.header .inner-header .nav .gnb-parent .middle-gnb h1.logo:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header .inner-header .nav .gnb-parent .right-gnb {
    width: 33%;
    max-width: 300px;
    height: auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.header .inner-header .nav .gnb-parent .right-gnb > ul {
    display: flex;
    justify-content: space-around;

}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li {
    width: 33.3333%;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
    line-height: 80px;
    text-align: center;
    margin-right: 3px;
    color: #fff;
    letter-spacing: 2px;
}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li.cart1 a {
    letter-spacing: 2px;
    font-size: 0.7em;
    color: #fff;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li.cart1 a:after {
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    bottom: 23px;
    background: #fff;
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
    width: 0px;
}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li a:hover:after {
    width: 100%;
    left: 0%;
}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li.cart1 a:hover {
    cursor: pointer;
}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li.c1 {
    display: block;
    padding-right: 3px;
}


.header .inner-header .nav .gnb-parent .right-gnb > ul > li.c1 a {
    border: 1px solid #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding: 6px 12px;

}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li.c1 a:hover {
    border: 1px solid #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding: 6px 12px;
    background: #fff;
    color: #8d998d;
    transition: all 0.45s;
    text-decoration: none;
}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li.c2 {
    display: block;
    padding-left: 3px;
}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li.c2 a {
    border: 1px solid #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding: 6px 12px;

}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li.c2 a:hover {
    border: 1px solid #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding: 6px 12px;
    background: #fff;
    color: #8d998d;
    transition: all 0.45s;
    text-decoration: none;
}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li.i1 {
    width: 18px;
    height: 18px;
    margin-top: 5px;

}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li.i1 a {
    padding: 10px;
}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li.i1 img {
    width: 100%;
    height: auto;

}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li.i1 img:hover {
    opacity: 0.6;
}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li a {
    font-family: 'Krub', sans-serif;
    font-size: 0.7em;
    color: #fff;
    letter-spacing: 2px;
}

.header .inner-header .nav .gnb-parent .right-gnb > ul > li a:hover {
    cursor: pointer;
}

.header .inner-header .nav .gnb-parent .tMenu {
    display: none;

}

.header .inner-header .nav .gnb-parent .tMenu .gnb-menu {
    display: none;
    margin: 20px;
}

.header .inner-header .nav .gnb-parent .tMenu .leftBox {
    display: none;
    width: 50%;
    min-width: 300px;
    height: 100vh;
    background: #336;
    border: 0px solid #ff02;
    box-sizing: border-box;
    position: fixed;
    left: -100%;
    top: 0;
}

.header .inner-header .nav .gnb-parent .tMenu .gnb-menu img {
    width: 40px;
    height: 40px;
}

.header .inner-header .nav .gnb-parent .tMenu .gnb-menu:hover {
    cursor: pointer;
    opacity: 0.6;
}

.menuOn {
    opacity: 0.7;
}

.right-menu {
    width: 100%;
    /*   max-width: 400px;*/
    height: 100vh;
    border: 0px solid;
    box-sizing: border-box;
    color: #222;
    position: fixed;
    /*   display: none;*/
    z-index: 998;
    right: -100%;
    top: 80px;
    background: #94a89d99;
}

.right-menu .inner-right-menu {
    border: 0px solid;
    box-sizing: border-box;
    padding: 100px 0;

}

.right-menu .inner-right-menu .right-menu-con {

    box-sizing: border-box;
    /*   padding:80px 0;*/
}

.right-menu .inner-right-menu .right-menu-con > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right-menu .inner-right-menu .right-menu-con > ul > li {
    background: #fff9;
    padding: 10px;
    transition: 0.45s;
}

.right-menu .inner-right-menu .right-menu-con > ul > li.item {
    line-height: 3em;
    box-sizing: border-box;
    /*   background: #ff2;*/
    margin: 10px 0;
    text-align: center;
    display: none;
    color: #49654C;
    font-weight: 320;
    font-family: sans-serif;
    letter-spacing: 8px;
    font-size: 3em;

}

.right-menu .inner-right-menu .right-menu-con > ul > li.jc {

    box-sizing: border-box;
    /*    border: 0.5px solid #fff;*/
    padding: 10px;
    /*    border-radius: 25px;*/
    background: #0000;
    text-align: center;
    color: #888;
    /*    display: inline-block;*/
    display: flex;
    justify-content: space-between;
    /*
    width: 80px;
    height: 40px;
*/
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 1em;
    margin: 10px 0px;
    /*          background: #fff9;*/
}

.right-menu .inner-right-menu .right-menu-con > ul > li.jc .two {
    line-height: 40px;
    box-sizing: border-box;
    border: 0.5px solid #fff;
    padding: 5 40px;
    border-radius: 25px;
    background: #0000;
    text-align: center;
    color: #888;
    display: inline-block;
    width: 80px;
    height: 40px;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 1em;
    margin: 10px auto;
    background: #fff9;
}

.right-menu .inner-right-menu .right-menu-con > ul > li.item:hover {
    opacity: 0.8;
    cursor: pointer;
    /*     font-weight: 380;*/
    background: #49654C;
    color: #fff;
}

/*container시작*/

.container {
    /*padding-top: 50px;*/
    width: 100%;
    height: auto;
    background: #94a89d;
}

.container .inner-container {
    width: 100%;
    height: auto;
    /*        background: #94a89d;*/
    margin: 0 auto;
    box-sizing: border-box;
 
}

.container .sections {
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
/*       padding: 20px 0;*/
    box-sizing: border-box;
    background: #94a89d77;
}
.container .sections .section.sec4 {
    width: 100%;
    height: 500px;
    position: relative;
    /*    margin: 30px 50px;*/

}
.container .sections .section.sec4 .videoB {
    width: 100%;
    height: 90vh;
    background: #000;
    z-index: 1;
    overflow: hidden;
    position: absolute;
}
.container .sections .section.sec4 .videoB .video-box {
    width: 100%;
    height: auto;
    background: #000;
    overflow: hidden;

}
.container .sections .section.sec4 .videoB .video-box video {
    /*    display: block;*/
    left: 50%;
    margin-left: -1020px;
    top: 50%;
    margin-top: -600px;

}
.container .sections .section.sec4 .title {
    width: 100%;
    height: auto;
    /*    padding-top: 150px;*/
    margin: 0 auto;
    max-width: 1920px;
    position: absolute;
    z-index: 3;
   
}
.container .sections .section.sec4 .title .title-con {
    width: 100%;
    height: auto;
    margin-top: 30vh;
/*    margin: 0 auto;*/
    z-index: 2;
}
.container .sections .section.sec4 .title .title-con .top-title {
    width: 100%;
    height: 300px;
    /*    margin: 20px;*/
    text-align: center;
    line-height: 300px;
 margin: 0 auto;
     background: #94a89d77;
    padding: 20px 10px;
    box-sizing: border-box;
 
}
.container .sections .section.sec4 .title .title-con .top-title h1 {
    font-size: 5rem;
    line-height: 6rem;
    margin-top: 0.3em;
    margin-bottom: 0.07em;
    font-weight: 300;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
}
.container .sections .section.sec4 .title .title-con .top-title h2 {
    font-family: sans-serif;
    font-weight: 500;
    margin: 20px 0;
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding-bottom: 1rem;
    color: #ffffff;
/*    max-width: 40em;*/
    font-weight: 300;
    text-align: center;
}
.container .sections .section.sec4Con .menubar {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 1920px;
    margin: 0px 50px;
}
.container .sections .section.sec4Con .menubar .menubar-con {
    width: 100%;
/*    display: block;*/
    padding-top: 600px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    border: 0px solid #fff;
}
.container .sections .section.sec4Con .menubar .menubar-con > ul {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-left: 0px;
    flex-wrap: wrap;
}
.container .sections .section.sec4Con .menubar .menubar-con > ul > li a {
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #566962;
    border: 0.01px solid #fff;
    margin: 0.33em;
    line-height: 2.2em;
    transition: all 0.45s;
    display: block;
    border-radius: 1.25rem;
    height: 2.1em;
    padding-left: 2em;
    padding-right: 2em;
    transition: color 250ms, background-color 250ms, border-color 250ms;
}
.container .sections .section.sec4Con .menubar .menubar-con > ul > li.a1 a {
    background: #566962;
    color: #fff;
    border: 0.01px solid #566962;
}
.container .sections .section.sec4Con .menubar .menubar-con > ul > li.tea1 a {
    /*   background: #fff;*/
    color: #fff;
    border: 0.01px solid #fff;
}
.container .sections .section.sec4Con .menubar .menubar-con > ul > li.a1 a:hover {
    background: #fff;
    color: #566962;
    border: 0.01px solid #fff;
}
.container .sections .section.sec4Con .menubar .menubar-con > ul > li.tea1 a:hover {
    background: #566962;
    color: #fff;
    border: 0.01px solid #566962;
}
.container .sections .section.sec4Con .menubar .menubar-con .line {
    width: 100%;
    height: 10px;
    background: #fff;
    display: block;
}
.container .inner-container .sections .section.sec4Con {
    background: #ffffff88;
    width: 100%;
    height: auto;
}
.container .inner-container .sections .section.sec4Con .sec-con {
    width: 100%;
    max-width: 1920px;
    height: auto;
    border: 0px solid #fff;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px 50px;
    transition: all 0.45s;
    /*background: #fff;*/
}
.container .inner-container .sections .section.sec4Con .sec-con > ul {
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    transition: all 0.45s;
    display: flex;
    flex-wrap: wrap;
    /*   border: 1px solid #000;*/
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li {
    width: 22%;
    height: auto;
    margin: 0 auto;
    /*   border: 1px solid #000;*/
    box-sizing: border-box;
    padding: 20px 10px;

}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 {
    padding-top: 100px;
    /* width: 30%;*/

}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 .li-con {
    box-sizing: border-box;
    border: 0px solid;
    box-sizing: border-box;
    border-top-right-radius: 60%;
    /*    border-top-left-radius: -10%;*/
    border-bottom-left-radius: 60%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li2 .li-con {
    box-sizing: border-box;
    border: 0px solid;
    box-sizing: border-box;
    border-top-left-radius: 60%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 0%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 .li-con img {
    width: 100%;
    height: auto;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 .li-con:hover + .title {
    display: block;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(1) .li-con {
    width: 100%;
    height: 400px;
    background: url(../../img/sec2-1.jpg) no-repeat 50%/cover;
    transition: all .4s;
    opacity: 1;

}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(2) .li-con {
    width: 100%;
    height: 400px;

    background: url(../../img/sec2-2.jpg) no-repeat 50%/cover;
    transition: all .4s;
    opacity: 1;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(3) .li-con {
    width: 100%;
    height: 400px;
    background: url(../../img/sec2-3.jpg) no-repeat 50%/cover;
    transition: all .4s;
    opacity: 1;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(4) .li-con {
    width: 100%;
    height: 400px;
    background: url(../../img/sec2-4.jpg) no-repeat 50%/cover;
    transition: all .4s;
    opacity: 1;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(5) .li-con {
    width: 100%;
    height: 400px;
    background: url(../../img/sec2-5.jpg) no-repeat 50%/cover;
    transition: all .4s;
    opacity: 1;

}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(6) .li-con {
    width: 100%;
    height: 400px;
    background: url(../../img/sec2-6.jpg) no-repeat 50%/cover;
    transition: all .4s;
    opacity: 1;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(7) .li-con {
    width: 100%;
    height: 400px;
    background: url(../../img/sec2-7.jpg) no-repeat 50%/cover;
    transition: all .4s;
    opacity: 1;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(8) .li-con {
    width: 100%;
    height: 400px;
    background: url(../../img/sec2-8.jpg) no-repeat 50%/cover;
    transition: all .4s;
    opacity: 1;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(1) .li-con:hover {
    background: url(../../img/sec2-1-sub.png) no-repeat 50%/cover;
    opacity: 1;
    border-top-left-radius: 60%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 0%;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(2) .li-con:hover {
    background: url(../../img/sec2-2-sub.png) no-repeat 50%/cover;
    opacity: 1;
    border-top-left-radius: 60%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 0%;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(3) .li-con:hover {
    background: url(../../img/sec2-3-sub.png) no-repeat 50%/cover;
    opacity: 1;
    border-radius: 60% 0 60% 0;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(4) .li-con:hover {
    background: url(../../img/sec2-4-sub.png) no-repeat 50%/cover;
    opacity: 1;
    border-radius: 60% 0 60% 0;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(5) .li-con:hover {
    background: url(../../img/sec2-5-sub.png) no-repeat 50%/cover;
    opacity: 1;
    border-radius: 0 60% 0 60%;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(6) .li-con:hover {
    background: url(../../img/sec2-6-sub.png) no-repeat 50%/cover;
    opacity: 1;
    border-radius: 0 60% 0 60%;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(7) .li-con:hover {
    background: url(../../img/sec2-7-sub.png) no-repeat 50%/cover;
    opacity: 1;
    border-radius: 0 60% 0 60%;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(8) .li-con:hover {
    background: url(../../img/sec2-8-sub.png) no-repeat 50%/cover;
    opacity: 1;
    border-radius: 0 60% 0 60%;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li2 {

    padding-top: 100px;
}
.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 .mT h1 {
    color: #8d998d;
    line-height: 1em;
    font-size: 0.6em;
    margin-bottom: 16px;
    text-decoration-line: underline;
    text-underline-position: under;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 .title {
    width: 100%;
    height: auto;
    font-family: sans-serif;
    margin-top: 5px;
    /*    display: none;*/
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 .title h1.top {
    border-radius: 50px;
    width: 22%;
    margin: 0 auto;
    padding: 5px 5px;
    font-weight: 350;
    background: #94a89d;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    line-height: 1em;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 .title h1.middle {
    margin: 0 auto;
    font-weight: 500;
    color: #333;
    text-align: center;
    font-size: 1.5em;
    line-height: 2.5em;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 button {
    border: 0.8px solid #94a89d;
    margin: 0 auto;
    width: 100%;
    background: #0000;
    text-align: center;
    padding: 7px 30px;
}

.container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 button:hover {
    color: #fff;
    background: #94a89d;
    border: 1.4px solid #94a89d;
    transition: all 0.45s;
    cursor: pointer;
}

.container .inner-container .sections .section.sec4Con .secView {
    width: 100%;
       max-width: 1920px;
    height: auto;
    border: 0px solid;
    display: none;
    margin: 0 auto;
        padding: 50px 50px;
    box-sizing: border-box;
    transition: all 0.45s;
}

.container .inner-container .sections .section.sec4Con .secView > ul {
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    transition: all 0.45s;
    display: flex;
    flex-wrap: wrap;

}

.container .inner-container .sections .section.sec4Con .secView > ul > li {
    width: 22%;
    height: auto;
    margin: 0 auto;
    /*   border: 1px solid #000;*/
    box-sizing: border-box;
    padding: 20px 10px;

}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1 {
    padding-top: 100px;
    /* width: 30%;*/

}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1 .li-con {
    box-sizing: border-box;
    border: 0px solid;
    box-sizing: border-box;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 60%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li2 .li-con {
    box-sizing: border-box;
    border: 0px solid;
    box-sizing: border-box;
    border-top-left-radius: 60%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 0%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1 .li-con img {
    width: 100%;
    height: auto;
}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1 .li-con:hover + .title {
    display: block;
}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1:nth-child(1) .li-con {
    width: 100%;
    height: 400px;
    background: url(../../img/secview-1.jpg) no-repeat 50%/cover;
    transition: all .4s;
    opacity: 1;
}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1:nth-child(2) .li-con {
    width: 100%;
    height: 400px;
    background: url(../../img/secview-2.jpg) no-repeat 50%/cover;
    transition: all .4s;
    opacity: 1;
    
}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1:nth-child(3) .li-con {
    width: 100%;
    height: 400px;
    background: url(../../img/secview-3.jpg) no-repeat 50%/cover;
    transition: all .4s;
    opacity: 1;
}
.container .inner-container .sections .section.sec4Con .secView > ul > li.li1:nth-child(4) .li-con {
    width: 100%;
    height: 400px;
    background: url(../../img/secview-4.jpg) no-repeat 50%/cover;
    transition: all .4s;
    opacity: 1;
}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1:nth-child(1) .li-con:hover {
    background: url(../../img/secview-1.png) no-repeat 50%/cover;
    opacity: 1;
    border-top-left-radius: 60%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 0%;
}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1:nth-child(2) .li-con:hover {
    background: url(../../img/secview-2.png) no-repeat 50%/cover;
    opacity: 1;
    border-top-left-radius: 60%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 0%;
}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1:nth-child(3) .li-con:hover {
    background: url(../../img/secview-3.png) no-repeat 50%/cover;
    opacity: 1;
    border-radius: 60% 0 60% 0;
}
.container .inner-container .sections .section.sec4Con .secView > ul > li.li1:nth-child(4) .li-con:hover {
    background: url(../../img/secview-4.png) no-repeat 50%/cover;
    opacity: 1;
    border-radius: 60% 0 60% 0;
}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1 .mT {}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1 .mT h1 {
    color: #8d998d;
    line-height: 1em;
    font-size: 0.6em;
    margin-bottom: 16px;
    text-decoration-line: underline;
    text-underline-position: under;
}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1 .title {
    width: 100%;
    height: auto;
    font-family: sans-serif;
    margin-top: 5px;
    /*    display: none;*/
}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1 .title h1.top {
    border-radius: 50px;
    width: 22%;
    margin: 0 auto;
    padding: 5px 20px;
    font-weight: 350;
    background: #94a89d;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1rem;
}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1 .title h1.middle {
    margin: 0 auto;
    font-weight: 500;
    color: #333;
    text-align: center;
    font-size: 1.5em;
    line-height: 2.5em;
}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1 button {
    border: 0.8px solid #94a89d;
    margin: 0 auto;
    width: 100%;
    background: #0000;
    text-align: center;
    padding: 7px 30px;
}

.container .inner-container .sections .section.sec4Con .secView > ul > li.li1 button:hover {
    color: #fff;
    background: #94a89d;
    border: 1.4px solid #94a89d;
    transition: all 0.45s;
    cursor: pointer;
}

.container .inner-container .sections .section.sec4Con .view-A {
    width: 100%;
    max-width: 1980px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    transition: all 0.45s;
}

.container .inner-container .sections .section.sec4Con .view-A {
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
    margin: 80px 0 0px 0;
    text-align: center;
    box-sizing: border-box;
}

.container .inner-container .sections .section.sec4Con .view-A a {
    letter-spacing: 3px;
    /*    font-size: 0.7em;*/
    color: #94a89d;
    cursor: pointer;
    /*        position: relative;*/
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 10;
    padding-bottom: 80px;
    box-sizing: border-box;
    margin: 10px;
}

.container .inner-container .sections .section.sec4Con .view-A a:after {
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    /*  position: absolute;*/
    background: #94a89d;
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
    width: 0px;
}

.container .inner-container .sections .section.sec4Con .view-A a:hover:after {
    width: 100%;
    left: 0%;
}

.footer {
    width: 100%;
    height: auto;

}

.footer .inner-footer {
    width: 100%;
    /*    max-width: 1920px;*/
/*    margin-top: 20px;*/
    height: auto;
    margin: 0 auto;
}

.footer .inner-footer .fconbg {
    width: 100%;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
    margin: 0 auto;
    
}

.footer .inner-footer .fconbg .bg-con {
    width: 100%;
    height: auto;
/*    padding: 20px;*/
}

.footer .inner-footer .fconbg .bg-con img {
    width: 100%;
    height: auto;

}

.footer .inner-footer .fcon {
    width: 100%;
        max-width: 1920px;
    margin: 0 auto;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
    padding: 20px 50px;
    text-align: center;
    transition: all 0.45s;
    background: url(../../img/fbg.jpg) no-repeat 50% / cover;
}

.footer .inner-footer .fcon .fcon-con {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.footer .inner-footer .fcon .fconL {
    width: 25%;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
}

.footer .inner-footer .fcon .fconL .icon {
    width: 100%;
    height: auto;
    margin: 60px 0;
}

.footer .inner-footer .fcon .fconL .icon img {
    width: 150px;
    height: auto;
}

.footer .inner-footer .fcon .fconR {
    width: 75%;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
    margin: 20px 0;
    padding: 0 30px;
}

.footer .inner-footer .fcon .fconR .top-con {
    border: 0px solid;
    padding: 30px 0;
    font-size: 0.7em;
    text-align: left;
}

.footer .inner-footer .fcon .fconR .top-con a {
    border: 0px solid;
    color: #8d998d;
    line-height: 1.7em;
    padding: 0 1%;
    font-weight: 400;
}

.footer .inner-footer .fcon .fconR .top-con a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.footer .inner-footer .fcon .fconR .top-con a.wl1 {
    color: #8d998d;
    font-weight: bold;
}

.footer .inner-footer .fcon .fconR .top-con a:hover {
    opacity: 0.7;
}

.footer .inner-footer .fcon .fconR .bottom-con {
    border: 0px solid;
    font-size: 0.6em;
    font-weight: 400;
    color: #8d998d;
    text-align: left;
    line-height: 1.6em;
    margin-left: 1px;
}

.footer .inner-footer .fcon .fconR .bottom-con p {
    margin: 1px;
}

.footer .inner-footer .fcon .goup {
    width: 100%;
    height: auto;
}

.footer .inner-footer .fcon .goup .topbtn {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
}

.footer .inner-footer .fcon .goup .topbtn a {
    font-size: 0.8em;
    color: #ccc;
    font-weight: 900;
    background: #8d998d;
    padding: 10px 20px;
    font-family: sans-serif;
}

.footer .inner-footer .fcon .goup .topbtn a:hover {
    opacity: 0.8;
}

/*

.footer .inner-footer .fcon .fconR .bottom-con .p {
    border: 0px solid;
    text-align: center;
    padding: 0 1%;
    box-sizing: border-box;

}
*/

span.arrowTop {
    display: block;
    width: auto;
    height: auto;
    padding: 3px 8px;
    background: #fff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-family: sans-serif;
    color: #888;
    /*    letter-spacing: 0.5px;*/
    font-size: 1.3em;
    font-weight: 800;
    border: 1 solid #888;
    cursor: pointer;
}

span.arrowTop:hover {
    opacity: 0.8;
}

span.arrowTopClass {
    display: none;
}

@media only screen and (max-width:1000px) {
    .container .sections .section.sec4Con .menubar {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 1920px;
    margin: 0px 50px;
}
    .container .inner-container .sections .section.sec4Con .sec-con > ul {
        transition: all 0.45s;

    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li {
        width: 44%;
        height: auto;
        margin: 0 auto;
        /*   border: 1px solid #000;*/
        box-sizing: border-box;
        padding: 20px 10px;

    } 
    .container .inner-container .sections .section.sec4Con .secView > ul {
        transition: all 0.45s;

    }

.container .inner-container .sections .section.sec4Con .secView > ul> li {
        width: 44%;
        height: auto;
        margin: 0 auto;
        /*   border: 1px solid #000;*/
        box-sizing: border-box;
        padding: 20px 10px;

    }

}

@media only screen and (max-width:768px) {

    .header .inner-header .nav .gnb-parent .left-gnb {
        display: none;
    }

    .header .inner-header .nav .gnb-parent .middle-gnb {
        width: 20%;
    }

    .header .inner-header .nav .gnb-parent .middle-gnb h1.logo {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 0 auto;
        box-sizing: border-box;
        /*    line-height: 80px;*/
        padding-left: 20px;
    }

    .header .inner-header .nav .gnb-parent .right-gnb {
        display: none;
    }

    .header .inner-header .nav .gnb-parent .tMenu {
        display: block;

    }

    .header .inner-header .nav .gnb-parent .tMenu .gnb-menu {

        display: block;
    }

    .right-menu {

        display: block;
        right: -100%;
    }

    .container {
        padding-top: 80px;
        transition: all 0.45s;
    }

    .container .inner-container .sections .section.sec4 {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
    }
    .container .sections .section.sec4 .videoB {
    width: 100%;
    height: 60vh;
    background: #000;
    z-index: 1;
    overflow: hidden;
    position: absolute;
}
    
.container .sections .section.sec4 .title .title-con .top-title {
    width: 80%;
    height: auto;
    /*    margin: 20px;*/
    text-align: center;
    line-height: 300px;
 margin: 0 auto;
     background: #94a89d77;
    padding: 20px 10px;
    box-sizing: border-box;
 
}

.container .sections .section.sec4 .title .title-con {
    width: 100%;
    height: auto;
    margin-top: 10vh;
/*    margin: 0 auto;*/
    z-index: 2;
}
    .container .sections .section.sec4Con .menubar {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 1920px;
    margin: 0px 20px;
}
    
.container .sections .section.sec4 .title .title-con .top-title {
    width: 100%;
    height: 400px;
    /*    margin: 20px;*/
    text-align: center;
    line-height: 400px;
 margin: 0 auto;
     background: #94a89d77;
    padding: 20px 10px;
    box-sizing: border-box;
 
}
    .container .sections .section.sec4Con .menubar .menubar-con {
        width: 100%;
        padding-top: 40vh;
        height: auto;
        /*    margin: 0 auto;*/
        border: 0px solid #fff;
    }

    .container .sections .section.sec4Con .menubar .menubar-con > ul {
        padding-bottom: 10px;
        flex-wrap: wrap;
    }

    .container .inner-container .sections .section.sec4 .title {
        width: 100%;
        height: auto;
        border: 0px solid #fff;
        box-sizing: border-box;
        margin: 0 auto;
        transition: all 0.45s;

    }

    .container .inner-container .sections .section.sec4 .title .title-con {
        margin: 50px;
        display: block;
        text-align: left;
    }

    .container .inner-container .sections .section.sec4 .title .leftT {
        width: 100%;
        margin: 0;
    }

    .container .inner-container .sections .section.sec4 .title .leftT h2 {
        margin: 0;
    }

    .container .inner-container .sections .section.sec4 .title .rightT {
        width: 100%;
        margin: 0;

    }

    .container .inner-container .sections .section.sec4 .menubar {
        margin-bottom: 0px;

    }

    .container .inner-container .sections .section.sec4 .menubar .menubar-con {
        padding-top: 0px;
    }

    .container .inner-container .sections .section.sec4Con .sec-con {
        width: 100%;
    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul {
        width: 100%;
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
        height: auto;
        transition: all 0.45s;
        display: flex;
        flex-wrap: wrap;

    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li {
        width: 100%;
        height: 400px;
        margin: 0 auto;
        /*   border: 1px solid #000;*/
        box-sizing: border-box;
        padding: 20px 10px;

    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 img {
        width: 100%;
        height: auto;
    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(1) .li-con {
        width: 100%;
        height: 400px;
    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(2) .li-con {
        width: 100%;
        height: 400px;
    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(3) .li-con {
        width: 100%;
        height: 400px;
    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(4) .li-con {
        width: 100%;
        height: 400px;
    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(5) .li-con {
        width: 100%;
        height: 400px;
    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(6) .li-con {
        width: 100%;
        height: 400px;
    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(7) .li-con {
        width: 100%;
        height: 400px;
    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1:nth-child(8) .li-con {
        width: 100%;
        height: 400px;
    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 .title h1.top {
        display: none;
    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 .title h1.middle {

        font-size: 2em;
        line-height: 2.5em;
    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 button {

        margin-bottom: 20px;
        width: 100%;
        background: #94a89d;
        text-align: center;
        padding: 10px 30px;
        color: #fff;
    }

    .container .inner-container .sections .section.sec4Con .sec-con > ul > li.li1 button:hover {
        border: 1.4px solid #94a89d;
        margin-bottom: 20px;
        width: 100%;
        background: #fff1;
        text-align: center;
        padding: 10px 30px;
        color: #94a89d;
    }



    .footer .inner-footer .fconbg {
        width: 100%;
        height: auto;
    }


    .footer .inner-footer .fcon .fconL {

        display: none;
    }

    .footer .inner-footer .fcon .fconR {
        width: 100%;
        height: auto;
        border: 0px solid;
        box-sizing: border-box;
    }

    .footer .inner-footer .fcon .fconR .top-con {
        padding: 10px 0;
        font-size: 0.8em;
        text-align: center;
        margin-bottom: 30px;

    }

    .footer .inner-footer .fcon .fconR .bottom-con {
        border: 0px solid;
        font-size: 0.5em;
        font-weight: 400;
        color: #8d998d;
        text-align: center;
        line-height: 2.2em;
        margin-left: 1px;
    }
}
